<div class="col-md-6 user-container marginAuto">
    <h2 class="center marginAuto"> Profesores  {{accType}}</h2>
    <button class="btn btn-danger" style="width:100px" (click)="addUser()" *ngIf="accType == '3'"> Añadir profesor</button>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Nombre usuario</th>
        <th>Nombre real</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th class="hidden">activo</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let teacher of teachers">
        <td class="hidden">{{teacher.id}}</td>
        <td>{{teacher.user_name}}</td>
        <td>{{teacher.name}}</td>
        <td>{{teacher.phone_number}}</td>
        <td>{{teacher.email}}</td>
        <td class="hidden">{{teacher.user_name}}</td>

        <!-- *ngIf="accType == '3'" -->
        <td><button class="btn btn-success" (click)="deleteTeacher(teacher.id)" > Delete</button>
          <button class="btn btn-success" (click)="editUser(user)" style="margin-left: 20px;" *ngIf="accType == '3'"> Edit</button></td>
      </tr>
      </tbody>
    </table>
  </div>