<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>



  /* Responsive Styles */
  @media screen and (max-width: 767px) {

  }

  @media screen and (max-width: 575px) {

  }
</style>
 {{ authService.getToken }}

<div *ngIf="authService.logIn">
  <app-navigation></app-navigation>
  <router-outlet></router-outlet>

</div>
<div  *ngIf="!authService.logIn">
  <app-login></app-login>

</div>

<!-- *ngIf="authService.logIn" -->







